<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Curso Vue.js Platzi</title>

</head>
<body>
    <div id="app"> 
        <form @submit.prevent="submit" action="" method="get">
        <h2>Select your favorite courses</h2>
            <template v-for="curso in cursos">
                <input v-model="cursosS" type="checkbox" 
                v-bind:id="curso.value" v-bind:value="curso.value"/>
                <label v-bind:for="curso.value">{{ curso.name }}</label>
            </template>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue ({
            el: '#app',
            data: {
                cursos: [
                    { name: 'Vue.js', value: 'vue.js'},
                    { name: 'React.js', value: 'react.js'},
                    { name: 'Go Language', value: 'golanguage'}
                ],
                cursosS: []
            },
            methods: {
                submit: function () {
                    console.log("Prueba")
                    console.log(this.cursosS)
                }
            }
        })
    </script>

</body>
</html>